

.containerCloseSesion button{
    // margin-right: -8px;
    // margin-left:  -8px; 
    padding: 0px;
    min-width: 0px;
    color: rgb(143, 143, 143);
    border: none;
}

@media (min-width: 320px) and (max-width: 480px) {
  
    .buttonHelp button{
        display: none;  
    }

}